@import "tailwindcss/base";
@import "tailwindcss/components";

@import "./scss/animation";
@import "./scss/global";
@import "./scss/navbar";
@import "./scss/footer";
@import "./scss/sidebar";
@import "./scss/buttons";
@import "./scss/card";
@import "./scss/form";
@import "./scss/table";
@import "./scss/plans";

@import "./scss/signIn";
@import "./scss/profile";

@import "tailwindcss/utilities";